<!DOCTYPE html>
<html>
<head>
    <title>{{.Doc.title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {{.Include "/template/stdinc.html"}}
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-9 col-12 border-left border-right">
                <article class="markdown-body">
                    {{.Doc.body}}
                </article>
            </div>
            <div class="col-md-3 col-12 border-left border-right">
                <div class="text-center">
                    <a href="/">回到历史的行程</a>
                </div>
                <img class="img-fluid" src="https://ws1.sinaimg.cn/large/005CIC0hly1fnt8paa8a1j31dk337kbj.jpg"/>
            </div>
        </div>
        {{.Include "/template/footer.html"}}
    </div>
    <script>
        $("#__comment").html('<hr /><div id="isso-thread"></div>');
    </script>
    <script async data-isso="/isso" data-isso-lang="zh" src="/isso/js/embed.min.js"></script>
</body>
</html>
