<!DOCTYPE html>
<html>
<head>
    <title>{{.Doc.title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {{.Include "/template/stdinc.html"}}
</head>
<body>
    <div class="markdown-body container">
        {{.Doc.body}}
    </div>
    <script>
        $("#__comment").html('<div id="disqus_thread"></div>');
        var disqus_config = function () {
            this.page.identifier = '{{.Doc.pageId}}';
        };
    </script>
    <script src="https://lyc-xuming-studio.disqus.com/embed.js" data-timestamp="{{.Now}}"></script>
</body>
</html>
