<link href="https://cdn.jsdelivr.net/combine/
npm/highlight.js/styles/default.min.css,
npm/bootstrap/dist/css/bootstrap.min.css,
npm/github-markdown-css/github-markdown.min.css
" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/font-awesome/css/font-awesome.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/combine/
npm/jquery/dist/jquery.min.js,
npm/bootstrap/dist/js/bootstrap.bundle.min.js,
gh/highlightjs/cdn-release/build/highlight.min.js
"></script>
<script type="text/x-mathjax-config">MathJax.Hub.Config({tex2jax:{inlineMath:[["$","$"],["\\(","\\)"]]}});</script>
<script src="https://cdn.jsdelivr.net/npm/mathjax/MathJax.js?config=TeX-MML-AM_CHTML&locale=zh-hans" async></script>
<script>hljs.initHighlightingOnLoad();</script>
<!--
<script>
    window.execQueue = window.execQueue || [];
    var postExec = function () {
        for (var i = 0; i < arguments.length; i++)
            window.execQueue.push(arguments[i]);
    };
    $(function () {
        postExec = function () {
            for (var i = 0; i < arguments.length; i++)
                arguments[i]();
        };
        for (var i = 0; i < window.execQueue.length; i++)
            window.execQueue[i]();
        window.execQueue = [];
    });
</script>
-->