#content {
    margin: 2rem 0;
    min-height: calc(100vh - 4rem);
    box-shadow: 0 0 10px #888888;
    opacity: 85%;
    background-color: white;
}

#content>p {
    text-indent: 2em;
}

body {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR4nGNiYAAAAAkAAxkR2eQAAAAASUVORK5CYII=);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    transition: background 2s;
}

#pixiv_id_wrapper {
    position: fixed;
    z-index: -1;
    bottom: 0.2rem;
    right: 0.2rem;
    border-radius: 0.3rem;
    padding: 0.1rem 0.3rem;
    font-size: small;
    background-color: white;
    opacity: 50%;
    line-height: 1;
}

#pixiv_id {
    color: #888888;
}