.padding_16px {
    padding: 16px;
}

.margin_1em {
    margin: 1em 1em 3em;
}

.markdown-body h3 {
    margin-top: 8px;
}

.markdown-body blockquote {
    margin-bottom: 8px;
}

.flex-end {
    display: flex;
    align-items: flex-end;
}

body {
    background: center/100% 100% no-repeat url("/index/lightbg.webp") fixed;
}

.mdc-card {
    background-color: rgba(0, 0, 0, 0.42);
}

.split-line {
    height: 16px;
    border-color: black;
    border-style: dotted none solid;
    border-width: 4px 0 8px;
    margin: -3em 1em 3em;
}

a:link {
    color: darkgray;
    text-decoration: none;
}