<!DOCTYPE html>
<html>
<head>
    <title>个人的奋斗与历史的行程</title>
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/combine/npm/bootstrap/dist/css/bootstrap-grid.min.css,npm/github-markdown-css,npm/material-components-web@3/dist/material-components-web.min.css"
          rel="stylesheet">
    {{if .Env.DEBUG}}
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    {{else}}
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    {{end}}
    <script src="https://cdn.jsdelivr.net/npm/material-components-web/dist/material-components-web.min.js"></script>
    <style>
        .padding_16px {
            padding: 16px;
        }

        .margin_1em {
            margin: 1em 1em 3em;
        }
    </style>
</head>
<body>
<div class="container">
    <header class="margin_1em padding_16px">
        <h1>历史的行程</h1>
        <span>一个人的命运啊，当然要靠自我奋斗，但是也要考虑到历史的行程。</span>
    </header>
    <article class="markdown-body" id="app">
        <div class="mdc-card margin_1em" v-for="article in article_list">
            <div class="mdc-card__primary-action padding_16px mdc-elevation--z3" data-mdc-auto-init="MDCRipple">
                <h3 class="mdc-typography mdc-typography--headline6">
                    <a :href="article.path" class="card-link" v-html="article.title"></a></h3>
                <blockquote>
                    <p class="mdc-typography mdc-typography--subtitle2" v-html="article.comment"></p>
                </blockquote>
            </div>
        </div>
    </article>
    <div class="margin_1em"></div>
    {{.Include "/template/footer.html"}}
</div>
{{.Include "/index/articles.wrapper"}}
<script>
    document.addEventListener("DOMContentLoaded", function () {
        // noinspection ES6ModulesDependencies,JSUnresolvedVariable,JSUnusedGlobalSymbols
        new Vue({
            el: "#app",
            data: {
                article_list: articles
            },
            mounted: function () {
                this.$nextTick(mdc.autoInit);
            },
        });
    });
</script>
</body>
</html>
