#content {
    margin: 2rem 0;
    min-height: calc(100vh - 4rem);
    box-shadow: 0 0 10px #888888;
    background-color: rgba(255, 255, 255, 0.85);
}

#content > p {
    text-indent: 2em;
}

#content > p > img {
    max-width: calc(100% - 4em);
}

body {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR4nGNiYAAAAAkAAxkR2eQAAAAASUVORK5CYII=);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    transition: background 2s;
}

.flex-space {
    flex: auto;
}

#pixiv_id_wrapper {
    position: fixed;
    z-index: -1;
    bottom: 0.2rem;
    right: 0.2rem;
    border-radius: 0.3rem;
    padding: 0.1rem 0.3rem;
    font-size: small;
    background-color: rgba(23, 24, 25, 0.3);
    line-height: 1;
}

#pixiv_id {
    color: white;
    text-decoration: none;
}
