<br/>
<hr/>
<div class="footer">
    <div class="row">
        <div class="col-md-auto col-8 col-sm-10 text-left">
            <span>&copy; 2020 TooYoungTooSimp &lt;lyc&commat;xuming.studio&gt;, All rights reserved.</span><br/>
            <span>GPG Public Key Hash: C544 D3DB 8B7A 9031 609C B8C2 9737 9E25 7D1E 6DE4</span>
        </div>
        <div class="col d-none d-md-block"></div>
        <div class="col-md-auto col-4 col-sm-2 text-right">
            <a style="color: black" href="/friends/">巨佬们</a><br/>
            <span><span class="fa fa-arrow-up"></span>膜<span class="fa fa-arrow-up"></span></span>
        </div>
    </div>
    <div class="row">
        <div class="col"><span>Developed by TooYoungTooSimp, Designed by Nonad.</span></div>
    </div>
</div>
{{> /template/analytics.html}}