<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {{> /template/stdinc.html}}
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-9 col-12 border-left border-right">
                <article class="markdown-body">
                    {{&body}}
                </article>
            </div>
            <div class="col-md-3 col-12 border-left border-right">
                <div class="text-center">
                    <a href="/">回到历史的行程</a>
                </div>
                <img class="img-fluid" src="https://i.loli.net/2019/05/02/5ccaf1f4b554a.png"/>
            </div>
        </div>
        {{> /template/footer.html}}
    </div>
    <script>
        $("#__comment").html('<hr /><div id="isso-thread"></div>');
    </script>
    <script async data-isso="/isso" data-isso-lang="zh" src="/isso/js/embed.min.js"></script>
</body>
</html>
